input[type="text"]::placeholder
input[type="email"]::placeholder
input[type="number"]::placeholder{
    color: #c53211;
}

body{
    background-color: #c53211;
}

.spinner{
    align-items: center;
    justify-content: center;
}

.img_contacts{
    width: 150px;
    height: 150px;
}